@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

@font-face {
  font-family: "GT Sectra Display Regular";
  src: url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot");
  src: url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.svg#GT Sectra Display Regular")
      format("svg");
}
@import "tailwindcss";


@theme {
  --color-primary: white;
  --color-secondary: rgba(160,168,220,.7);
  --color-three: rgb(182 193 250 / 10%);
  --color-gradient: linear-gradient(0deg,#131419 25%,rgba(19,20,25,0) 60%);
}

.grad {
  @apply bg-gradient;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  overflow-x: hidden;
  background-color: #131419;
}

h1,h2,h3,h4,h5,h6 {
  @apply transition-[font-size] duration-500 ease-in;
}

a {
  text-decoration: none;
  transition: all .2s ease;
  &&:hover {
    opacity: .6;
  }
}

.sectra-light {
  font-family: "GT Sectra Display Regular";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.sectra-md {
  font-family: "GT Sectra Display Regular";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.sectra-bold {
  font-family: "GT Sectra Display Regular";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.sectra-v {
  font-family: "GT Sectra Display Regular";
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* Font Font Variants */
.heebo-light {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.heebo-md {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.heebo-bold {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.heebo-v {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.t-2 {
  font-size: 1.3rem;
}
